# Docker container name
CONTAINER_NAME="library-bundled-translations"

# Docker image name
TERMINAL_IMAGE_NAME="publishpress/dev-workspace-terminal:node-25"

WP_IMAGE_NAME="publishpress/dev-workspace-wordpress:wordpress-6.9-php-8.5"

WPCLI_IMAGE_NAME="publishpress/dev-workspace-wpcli:wpcli-2-php-8.5"

PLUGIN_NAME="Library Bundled Translations"

PLUGIN_COMPOSER_PACKAGE="publishpress/library-bundled-translations"

# Path to the cache directory for the dev-workspace
CACHE_PATH="./dev-workspace-cache"

# The slug of the plugin to be tested.
PLUGIN_SLUG="library-bundled-translations"

# The locales we support for translations.
LANG_LOCALES="pt_BR"

# The domain of the plugin to be tested.
LANG_DOMAIN="library-bundled-translations"

# The directory of the language files.
LANG_DIR="languages"
